body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
}

.controlsContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.gameControlContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.nextBallContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#gameOverMenu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gravityCanvas {
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#nextBall {
    width: 25px;
    height: 25px;
}

button {
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 15%;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    background-color: #eeeeee;
}